extends ../layout

block head
  link(rel="stylesheet" href="/stylesheets/game/girlfriend.css")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.6/react.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.6/react-dom.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js")
block content
  div#game
    div#tip
      span 밖에 나가서 진짜 여친을 사귀세요 흑흑..
    div(class = "game start")
      span.title
        | 여자친구 
        br
        | 강화게임
      div.button
        button(class = "btn btn-default start") 게임시작
        br
        button(id = "continue" class = "btn btn-default") 이어하기 
    div(class = "game play")
      div(class = "top-layout girlfriend")
        img(src = " " class = "image")
        strong.girl
        br
        span.pLabel 확률: 
          span.percent
          span %
        br
        span.date 데이트 비용: 
          span.d-money
          | 원
        br
        span.notice
        div.box
          div(class = "material info") 
            span 필요한 아이템
            ul
              li 
                | 선물: 
                span.present
                | 개
              li
                | 커플링: 
                span.coupling
                | 개
              li
                | 차: 
                span.car
                | 개 
              li
                | 집: 
                span.house
                | 개
              li 
                | 땅문서: 
                span.land
                | 개
          div(class = "myInfo info")
            span 인벤토리
            ul
              li 
                | 이별방지권: 
                span.no-farewell
                | 개
              li 
                | 선물: 
                span.present
                | 개
              li
                | 커플링: 
                span.coupling
                | 개
              li
                | 차: 
                span.car
                | 개
              li
                | 집: 
                span.house
                | 개
              li 
                | 땅문서: 
                span.land
                | 개             
      div(class = "top-layout menu")
        span 소지금:
          span.money
          | 원
        br
        button(id = "up" class = "btn btn-primary") 강화
        button(id = "farewell" class = "btn btn-default") 헤어지기
        button(type = "button" class = "btn btn-default" data-toggle = "modal" data-target = "#store") 상점 
        button(id = "save" class = "btn btn-default") 저장 
      div(class = "girlfriend-text")
        p.description
    div(class = "game car")
      div.car-text
        strong 차였습니다 ㅠㅠ
        br
        span 위로금 : 
          span.compensation 
        span
          span.money
          | ( +
          span.plus-money
          | )원
        br
        span 
          | 필요한 이별방지권 : 
          span.need 
          | 개
        span.nLabel
      div.button
        button(class = "btn btn-default restart") 재회
        br
        button(class = "btn btn-default start") 다시하기
    div(class = "game bye")
      span 헤어졌습니다
      br
      span 위로금 : 
      span.compensation 
      span
        span.money
        | ( +
        span.plus-money
        | )원
      button.start 다시하기
    div(id = "store" class = "modal fade" role = "dialog")
      div.modal-dialog
        div.modal-content
          div.modal-header
            h4 Welcome to 상점
          div.modal-body 
            ul.store-list
              li.noFarewell
                button(type = "button" class = "product btn btn-default" value = "50000")
                  | 이별 방지권
                  br
                  | 50,000원
              li.fiveNoFarewell
                button(type = "button" class = "product btn btn-default" value = "240000") 
                  | 이별 방지권(X 5)
                  br 
                  | 240,000원
              li.present
                button(type = "button" class = "product btn btn-default" value = "10000") 
                  | 선물
                  br
                  | 10,000원
              li.coupling
                button(type = "button" class = "product btn btn-default" value = "35000") 
                  | 커플링
                  br
                  | 35,000원
              li.car
                button(type = "button" class = "product btn btn-default" value = "1250000") 
                  | 차
                  br
                  | 1,250,000원
              li.house
                button(type = "button" class = "product btn btn-default" value = "25000000") 
                  | 집
                  br
                  | 25,000,000원
              li.land
                button(type = "button" class = "product btn btn-default" value = "50000000")
                  | 땅문서
                  br
                  | 50,000,000원
              li.lots
                button(type = "button" id = "drawingLots" class = "product btn btn-default" value = "5000")
                  | 제비뽑기
                  br
                  | 5,000원
              li.tt
                button(type = "button" class = "product btn btn-default" value = "3000000") 
                  | +22 워프권
                  br
                  | 3,000,000원
              li.tf
                button(type = "button" class = "product btn btn-default" value = "6000000") 
                  | +35 워프권
                  br
                  | 6,000,000원
          div.modal-footer
            span.sLabel
            span 소지금: 
              span.money
              | 원
            button(type = "button" id = "storeExit" class = "btn btn-default" data-dismiss="modal") 나가기

    div(id = "lots" class = "modal fade" role = "dialog")
      div.modal-dialog
        div.modal-content
          div.modal-header
            h4 당신의 운을 확인해 보세요!
          div.modal-body 
            - var num = 1;
            - for(i = 0; i< 5; i++)
              ul.lots-list
                - for(j = 0; j<4; j++)
                  li.lots-paper
                    button(type = "button" class = "btn btn-default" value = "#{j}") #{num}
                    - num++;
          div.modal-footer
            span.sLabel
            span 소지금: 
              span.money
              | 원
            button(type = "button" id = "lotsExit" class = "btn btn-default" data-dismiss="modal") 나가기

    div#adsense
      script(async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
      ins(class="adsbygoogle" style="display:block" data-ad-client="ca-pub-4634617406465785" data-ad-slot="6151936559" data-ad-format="auto")
      script.
        (adsbygoogle = window.adsbygoogle || []).push({});
    div#rank
  script(type = "text/babel" src = "/javascripts/game/rank.js")
  script.

    var myInfo = null;
    var girlfriend = null;

    //전광판 문구 배열
    var tipArr = ['로그인을 하면 저장도 할 수 있어요!', '난이도가 어려운건 현실반영을 했기 때문이죠', '성별 비하목적은 조금도 없어요', '강화 재료를 틈틈히 모아두는게 좋아요', '상위 랭커가 한번 되어보세요!', '발로 코딩했어요 흑흑'];

    //제비뽑기 배열
    var lotsArr = [100, "꽝", "꽝", "꽝", "꽝", 5000, "꽝", "꽝", "꽝", 10000, "꽝", "꽝", "선물", "꽝", "꽝", "꽝", "이별방지권", "꽝", "꽝", "커플링", "차", "꽝", "꽝", "집", "꽝", "땅문서", "꽝", 100000000, "꽝", "꽝"];

    //여자친구 생성자 함수
    function Girlfriend(girl){
      var girlArr = girl ? [girl.idx, girl.name, girl.percent, girl.noFarewell, girl.money, girl.present, girl.coupling, girl.car, girl.house, girl.land, girl.compensation, girl.description] : [#{result.idx}, "#{result.name}", #{result.percent}, #{result.noFarewell}, #{result.money}, #{result.present}, #{result.coupling}, #{result.car}, #{result.house}, #{result.land}, #{result.compensation}, "#{result.description}"];

      this.getArr = function(num){
        return girlArr[num];
      }
    };
    
    //정보 생성자 함수
    var Info = function(){
      var infoArr  = [50000,0,0,0,0,0,0];

      var Func = function() {};
      Func.prototype = {
        getItem: function(item){
          return infoArr[item];
        },
        setPItem: function(item, num){
          infoArr[item] +=num;
        },
        setMItem: function(item, num){
          infoArr[item] -=num;
        }
      };

      return Func;
    }();
   

    //스위치
    var upBool = false;  //강화 스위치
    var saveBool = false;  //저장 스위치
  
    //위로금 넣어주는 함수
    function plusMoney(money){
      myInfo.setPItem(0, money);

      $("span.money").text(myInfo.getItem(0));
      $("span.plus-money").text(money);
    }

    //전광판 함수
    function showTip(tipArr){
      var result = Math.floor(Math.random() * tipArr.length);
      $("#tip > span").text(tipArr[result]);
    };
    
    //5초마다 전광판 내용 새로 출력
    setInterval(function(){
      showTip(tipArr);
    }, 5000);  

    //여기까지 변수 및 함수 선언 끝!

    myInfo = new Info();
    
    $("button.start").click(function(){
      girlfriend = new Girlfriend();
 
      $('strong.girl').text(girlfriend.getArr(1));
      $('span.percent').text(girlfriend.getArr(2));
      $('span.d-money').text(girlfriend.getArr(4));      

      $("div.girlfriend > img").attr("src", "/images/girlfriend/" + girlfriend.getArr(0) + ".png");

      $("div.material span.present").text(girlfriend.getArr(5));
      $("div.material span.coupling").text(girlfriend.getArr(6));
      $("div.material span.car").text(girlfriend.getArr(7));
      $("div.material span.house").text(girlfriend.getArr(8));
      $("div.material span.land").text(girlfriend.getArr(9));

      $("div.myInfo span.no-farewell").text(myInfo.getItem(1));
      $("span.money").text(myInfo.getItem(0));
      
      $("div.myInfo span.present").text(myInfo.getItem(2));
      $("div.myInfo span.coupling").text(myInfo.getItem(3));
      $("div.myInfo span.car").text(myInfo.getItem(4));
      $("div.myInfo span.house").text(myInfo.getItem(5));
      $("div.myInfo span.land").text(myInfo.getItem(6));

      $('p.description').html(girlfriend.getArr(11));

      $("div.start").css("display", "none");
      $("div.car").css("display", "none");
      $("div.bye").css("display", "none");
      $("div.play").css("display", "block");

    });

    $("#continue").click(function(){
      var user = $("#myName").text();

      if(user){
        $.ajax({
          type: 'POST',
          contentType: 'application/json',
          url:'/game/girlfriend/continue',
          success: function(data){
            if(data.result === "found"){
              var row = data.row;
              var money = row.money - myInfo.getItem(0);
              myInfo.setPItem(0, money);
              myInfo.setPItem(1, row.noFarewell);
              myInfo.setPItem(2, row.present);
              myInfo.setPItem(3, row.coupling);
              myInfo.setPItem(4, row.car);
              myInfo.setPItem(5, row.house);
              myInfo.setPItem(6, row.land);

              $.ajax({
                type: 'POST',
                data: JSON.stringify({idx:row.level}),
                contentType: 'application/json',
                url:'/game/girlfriend/up',
                success: function(data){
                  console.log(data.idx);
                  if(data.result){
                    $('p.description').html("오류 발생;<br/> 한번 더 클릭해주세요 ");
                  }else{
                    $('strong.girl').text(data.name);
                    $('span.percent').text(data.percent);
                    $('span.d-money').text(data.money);

                    $("div.girlfriend > img").attr("src", "/images/girlfriend/" + data.idx + ".png");

                    $("div.material span.present").text(data.present);
                    $("div.material span.coupling").text(data.coupling);
                    $("div.material span.car").text(data.car);
                    $("div.material span.house").text(data.house);
                    $("div.material span.land").text(data.land);

                    $('p.description').html(data.description);

                    girlfriend = new Girlfriend(data);     
                  }
                }
              });

            }else{

            }

            $("button.start").click();
          }
        });
      }else{
        alert("로그인이 필요합니다!");
      }
    });
    
    $("#up").click(function(){
      if(upBool === false){
        if(myInfo.getItem(0) >= girlfriend.getArr(4) && myInfo.getItem(2) >= girlfriend.getArr(5) && myInfo.getItem(3) >= girlfriend.getArr(6) && myInfo.getItem(4) >= girlfriend.getArr(7)  && myInfo.getItem(5) >=girlfriend.getArr(8)  && myInfo.getItem(6) >= girlfriend.getArr(9)){

          var percent = girlfriend.getArr(2)/100;
          upBool = true;
        
          if(Math.random() < percent){   

            myInfo.setMItem(0, girlfriend.getArr(4));
            myInfo.setMItem(2, girlfriend.getArr(5));
            myInfo.setMItem(3, girlfriend.getArr(6));
            myInfo.setMItem(4, girlfriend.getArr(7));
            myInfo.setMItem(5, girlfriend.getArr(8));
            myInfo.setMItem(6, girlfriend.getArr(9));

            $("span.money").text(myInfo.getItem(0));
            $("div.myInfo span.no-farewell").text(myInfo.getItem(1));
            $("div.myInfo span.present").text(myInfo.getItem(2));
            $("div.myInfo span.coupling").text(myInfo.getItem(3));
            $("div.myInfo span.car").text(myInfo.getItem(4));
            $("div.myInfo span.house").text(myInfo.getItem(5));
            $("div.myInfo span.land").text(myInfo.getItem(6));

              
            $.ajax({
              type: 'POST',
              data: JSON.stringify({idx:girlfriend.getArr(0) + 1}),
              contentType: 'application/json',
              url:'/game/girlfriend/up',
              success: function(data){
                if(data.result){
                  $('p.description').html("혹시 게임이 끝나지 않았나요? <br/> 새로 하거나 다른걸 하는게 어때요?");
                }else{
 
                  $('strong.girl').text(data.name);
                  $('span.percent').text(data.percent);
                  $('span.d-money').text(data.money);

                  $("div.girlfriend > img").attr("src", "/images/girlfriend/" + data.idx + ".png");

                  $("div.material span.present").text(data.present);
                  $("div.material span.coupling").text(data.coupling);
                  $("div.material span.car").text(data.car);
                  $("div.material span.house").text(data.house);
                  $("div.material span.land").text(data.land);

                  $('p.description').html(data.description);

                  girlfriend = new Girlfriend(data);     

                  setTimeout(function(){
                    upBool = false;
                  }, 330);
                }
              }
            });
          }else{
            upBool = false;

            $("div.play").css("display", "none");
            $("div.car span.need").text(girlfriend.getArr(3));
            $("div.car").css("display", "block");
       
            plusMoney(girlfriend.getArr(10));
          }
        }else{
           upBool = false;

           $("span.notice").text("강화재료가 부족합니다");
      
           setTimeout(function(){
             $("span.notice").text("");
           }, 3000);
        }
      }else{
        //임시
      }

    });

    $("#farewell").click(function(){
      upBool = false;

      $("div.play").css("display", "none");
      $("div.bye").css("display", "block");
      
      var cps = girlfriend.getArr(10) + (girlfriend.getArr(10)/2);

      plusMoney(cps);
    });

    $("button.restart").click(function(){
      
      if(myInfo.getItem(1) < girlfriend.getArr(3)){
        $("span.nLabel").text("이별 방지권이 모자랍니다.");

        setTimeout(function(){
          $("span.nLabel").text(" ");
        }, 3500);
      }else{
        myInfo.setMItem(1, girlfriend.getArr(3));

        $("div.car").css("display", "none");
        $("div.play").css("display", "block");
      }   
    });

    $("button.product").click(function(){
      function readGirl(num){
        $.ajax({
          type: 'POST',
          data: JSON.stringify({idx:num}),
          contentType: 'application/json',
          url:'/game/girlfriend/up',
          success: function(data){
            if(data.result){
              $('p.description').html("오류 발생;<br/> 한번 더 클릭해주세요 ");
            }else{
              $('strong.girl').text(data.name);
              $('span.percent').text(data.percent);
              $('span.d-money').text(data.money);
              $("div.material span.present").text(data.present);
              $("div.material span.coupling").text(data.coupling);
              $("div.material span.car").text(data.car);
              $("div.material span.house").text(data.house);
              $("div.material span.land").text(data.land);

              $('p.description').html(data.description);

              girlfriend = new Girlfriend(data);     

              setTimeout(function(){
                upBool = false;
              }, 330);
            }
          }
        });
      };
      
      if(myInfo.getItem(0) - $(this).val() >= 0){
        var item = $(this).parent().attr('class');
        var btn = this;
        
        switch(item){
          case 'noFarewell':
            myInfo.setMItem(0, btn.value);
            myInfo.setPItem(1, 1);
            $("div.myInfo span.noFarewell").text(myInfo.getItem(1));
            break;
          case 'fiveNoFarewell':
            myInfo.setMItem(0, btn.value);
            myInfo.setPItem(1, 5);
            $("div.myInfo span.noFarewell").text(myInfo.getItem(1));
            break;
          case 'present':
            myInfo.setMItem(0, btn.value);
            myInfo.setPItem(2, 1);
            $("div.myInfo span.present").text(myInfo.getItem(2));
            break;
          case 'coupling':
            myInfo.setMItem(0, btn.value);
            myInfo.setPItem(3, 1);
            $("div.myInfo span.coupling").text(myInfo.getItem(3));
            break;
          case 'car':
            myInfo.setMItem(0, btn.value);
            myInfo.setPItem(4, 1);
            $("div.myInfo span.car").text(myInfo.getItem(4));
            break;
          case 'house':
            myInfo.setMItem(0, btn.value);
            myInfo.setPItem(5, 1);
            $("div.myInfo span.house").text(myInfo.getItem(5));
            break;
          case 'land':
            myInfo.setMItem(0, btn.value);
            myInfo.setPItem(6, 1);
            $("div.myInfo span.land").text(myInfo.getItem(6));
            break;
          case 'lots':
            $("#store").modal('hide');
            $("#lots").modal('show');
            break;
          case 'tt':
            readGirl(22);
            $("#store").modal('hide');
            break;
          case 'tf':
            readGirl(35);
            $("#store").modal('hide');
            break;
          default:
            break;
        }
        $("span.money").text(myInfo.getItem(0));
        $("span.sLabel").text("구매했습니다");
      }else{
        $("span.sLabel").text("돈이 모자랍니다 T_T");  
      }

      setTimeout(function(){
       $("span.sLabel").text(" ");
      }, 3000);
    });

    //제비뽑기
    $("ul.lots-list > li.lots-paper > button").click(function(){
      var rand = lotsArr[Math.floor(Math.random() * lotsArr.length)];
 
      myInfo.setMItem(0, 5000); 
      console.log(myInfo.getItem(0));

      $("#lots").modal('hide');
      $("#lots").css('padding-right', 0);    

      switch(rand){
        case "꽝" : 
          $("span.notice").text(rand);
          break;
        case "이별방지권":
          myInfo.setPItem(1, 1);
          $("div.myInfo span.no-farewell").text(myInfo.getItem(1));
          $("span.notice").text("이별방지권을 뽑았습니다!");
          break;
        case "선물":
          myInfo.setPItem(2, 1);
          $("div.myInfo span.present").text(myInfo.getItem(2));
          $("span.notice").text("선물을 뽑았습니다!");
          break;
        case "커플링":
          myInfo.setPItem(3, 1);
          $("div.myInfo span.coupling").text(myInfo.getItem(3));
          $("span.notice").text("커플링을 뽑았습니다!");
          break;         
        case "차":
          myInfo.setPItem(4, 1);
          $("div.myInfo span.car").text(myInfo.getItem(4));
          $("span.notice").text("차를 뽑았습니다!");
          break;
       case "집":
          myInfo.setPItem(5, 1);
          $("div.myInfo span.house").text(myInfo.getItem(5));
          $("span.notice").text("집을 뽑았습니다!");
          break;
       case "땅문서":
          myInfo.setPItem(6, 1);
          $("div.myInfo span.land").text(myInfo.getItem(6));
          $("span.notice").text("땅문서를 뽑았습니다!");
          break;
       default:
          myInfo.setPItem(0, rand);
          $("span.notice").text(rand + "원을 뽑았습니다!");
          break;
      }
      $("span.money").text(myInfo.getItem(0));

      $("#lots").modal('hide');
      
      setTimeout(function(){
        $("body").css('padding-right', '15px');    
      },500);
    });


    //저장
    $("#save").click(function(){
      var name = $("#myName").text();

      if(saveBool === false){
        if(name){
          saveBool = true;      
  
          $.ajax({
            type: 'POST',
            data: JSON.stringify({money: myInfo.getItem(0), noFarewell:myInfo.getItem(1), present:myInfo.getItem(2), coupling:myInfo.getItem(3), car:myInfo.getItem(4), house:myInfo.getItem(5), land:myInfo.getItem(6) , idx: girlfriend.getArr(0)}),
            url: '/game/girlfriend/save',
            contentType: 'application/json',
            success: function(data){
              if(data.result == "saved"){
                $("span.notice").text("저장 되었습니다.");
              }else{
                $("span.notice").tet("서버 오류발생!");
              }
            },
            error:function(request, status, error){
             console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
            }
          });

          setTimeout(function(){
            saveBool = false;
          }, 10000);
        }else{
          alert("로그인을 해야지 저장할 수 있습니다.");
        }
      }else{
        $("span.notice").text("잠시 후에  저장해주세요");
      }

      setTimeout(function(){
        $("span.notice").text(" ");
      }, 3000);
    });

    $('#lots').on('show.bs.modal', function () {
        console.log($(this));
      $('body').addClass("modal-open"); 
    });

    $('#lots').on('hide.bs.modal', function () {
        $('body').removeClass("modal-open");
        $("#lots").css("padding-right", "0");
    })
